h1 {
    font-size: 50px;
    font-family: Courier;
}

header {
    border: solid black;
    text-align: center;
    font-family: Courier;
    background-color: lightgreen;
}

#inputbox {
    text-align: center;
    border: solid black;
    width: 300px;
    margin: 0 auto;
    background-color: lightyellow;
}

#storybox {
    text-align: center;
    border: solid black;
    background-color: lightpink;
}